// Theme colors
$primary: rgb(0, 0, 139);
$secondary: rgb(37, 119, 37);
$danger: rgb(126, 8, 8);
$warning: rgb(187, 121, 0);

$white: white;

$font-normal: 1rem;
$font-sm: 1rem * 0.75;
$font-md: 1rem * 1.5;
$font-lg: 1rem * 2;
